* {
    scroll-behavior: smooth;
    transition: all 0.3s ease !important;
  }
  
  .contenedor {
    position: relative;
    width: 100%;
    max-width: 1800px;
    margin: auto;
    background-color: #fefefe;
    min-width: 380px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
  }
  
  nav {
    padding: 5px 0 !important;
  }
  
  .fa-apple {
    font-size: 40px;
    margin-left: 10px;
  }
  
  nav * {
    font-size: 20px;
    padding: 0 18px;
  }
  
  .fa-apple {
    color: white;
    justify-self: left;
    margin-right: 50%;
  }
  
  .primer-titulo,
  .segundo-titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 40px 80px 40px;
  }
  
  .primer-titulo h2,
  .segundo-titulo h2 {
    width: 100%;
    font-size: 80px;
    text-align: center;
    padding: 30px;
    margin: 50px 0;
  }
  
  .segundo-titulo h2 {
    margin: 50px 0 15px 0;
  }
  
  .primer-titulo p {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    color: #303030;
  }
  
  .cont-titulos {
    display: flex;
    justify-content: space-around;
  }
  
  .img-container {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    flex-wrap: wrap;
  }
  
  .img-container img {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    padding: 10px;
  }
  
  .container-soporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  h5 {
    font-size: 15px;
    font-weight: 400;
  }
  
  .formulario {
    margin-top: 140px;
    width: 80%;
    display: block;
    background-color: #fff;
    color: #333;
    padding: 20px;
    box-shadow: 0px 1px #ddd, 1px 0px #ddd;
    margin-bottom: 140px;
  }
  
  .formulario h2 {
    margin-bottom: 50px;
  }
  
  h3 {
    text-align: center;
  }
  
  iframe {
    position: relative;
    margin-right: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 25px;
  }
  
  footer {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    vertical-align: center;
  }
  
  .footer-line {
    width: 100%;
    margin-top: 25px;
    height: 1px;
    background-color: rgba(110, 107, 107, 0.356);
  }
  
  .copy-line {
    display: none;
  }
  
  .footer-copyright {
    color: rgba(29, 30, 32, 0.473);
  }
  
  .footer-links {
    color: rgb(55, 58, 55);
    padding-left: 10px;
  }
  
  .footer-links:hover {
    color: rgb(41, 43, 41);
  }
  
  .footer-argentina {
    color: rgb(41, 43, 41);
  }
  
  .argentina {
    height: 18px;
    width: 18px;
  }
  
  iframe {
    position: relative;
    margin-right: 25px;
  }
  
  @media screen and (max-width: 600px) {
    .primer-titulo,
    .segundo-titulo {
      padding: 30px 10px;
    }
    .primer-titulo h2,
    .segundo-titulo h2 {
      font-size: 36px;
      padding: 30px 0;
    }
    .primer-titulo p {
      font-size: 15px;
    }
    footer {
      display: flex;
      flex-wrap: wrap-reverse;
    }
    .footer-copyright {
      color: rgba(29, 30, 32, 0.473);
    }
    .footer-links {
      padding-left: 20px;
    }
    .copy-line {
      display: inline-block;
      width: 90%;
      height: 1px;
      background-color: rgba(110, 107, 107, 0.356);
    }
  }
  
  @media screen and (max-width: 800px) {
    .primer-titulo,
    .segundo-titulo {
      padding: 30px 10px;
    }
    .primer-titulo h2,
    .segundo-titulo h2 {
      font-size: 40px;
      padding: 20px 0;
      margin: 15px 0;
    }
    .primer-titulo p {
      font-size: 15px;
    }
  }